<label>Current lobby id: {{currentLobbyId}}</label>
<p>Current name: {{currentLobbyParticipant.username}}</p>
<p>Current role: {{currentLobbyParticipant.role}}</p>

<p>Lobby Participants:</p><br>
<li *ngFor="let item of lobbyParticipants;">
    <span>{{item}}</span>
</li>

<button class="start-button" (click)="startGame()" *ngIf="currentLobbyParticipant.role == 'owner'">Start Game</button>
<button class="start-button" (click)="readyPlayer()" *ngIf="currentLobbyParticipant.role == 'regular' && isReadyButtonEnabled == true">Ready</button>

<p>Ready Participants:</p><br>
<li *ngFor="let item of readyParticipants;">
    <span>{{item}}</span>
</li>