.board {
  width: fit-content;
  border: 10px solid #11262e;
  border-radius: 5px;
  margin: 10px auto;
}

.row {
  display: flex;
}

/* app-cell {
  width: 40px;
  height: 40px;
  border: 1px solid black;
} */

.red-section {
  background-color: red;
  width: 250px;
  /* 600/15*6 */
  height: 250px;
}

.green-section {
  background-color: green;
  width: 250px;
  /* 600/15*6 */
  height: 250px;
}

.blue-section {
  background-color: blue;
  width: 250px;
  /* 600/15*6 */
  height: 250px;
}

.yellow-section {
  background-color: yellow;
  width: 250px;
  /* 600/15*6 */
  height: 250px;
}

.winning-section {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 126px;
  height: 63px;
  gap: 0px; */
  border-top: 63px solid green;
  border-left: 63px solid red;
  border-right: 63px solid yellow;
  border-bottom: 63px solid blue;
}

.winning-section app-cell {
  display: none;
  width: 10%;
  height: 100%;
}


.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.black-border {
  border: 1px solid black;
}

.white {
  background-color: white;
  width: 150px;
  height: 150px;
  margin: 20% auto;
  border: 1px solid black;
}

/* .white app-cell {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  float: left;
  margin: 16px;
  border: 1px solid black;
} */

h1 {
  text-align: center;
}

fa-icon {
  display: flex;
  flex-direction: column;
  height: 21px;
}

.blue-icon {
  color: blue;
}

.red-icon {
  color: red;
}

.green-icon {
  color: green;
}

.yellow-icon {
  color: yellow;
}

.piece-position {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}