<div class="board">
    <div class="row">
        <div class="red-section black-border">
            <div class="white">
                <div class="red"></div>
                <div class="red"></div>
                <div class="red"></div>
                <div class="red"></div>
            </div>
        </div>
        <div class="lane-section">
            <div class="row">
                <app-cell [position]="50"></app-cell>
                <app-cell [position]="51"></app-cell>
                <app-cell [position]="52"></app-cell>
                <!-- <div id="1" class="box">
                </div>
                <div id="2" class="box">
                </div>
                <div id="3" class="box">
                </div> -->
            </div>
            <div class="row">
                <app-cell [position]="49"></app-cell>
                <app-cell [color]="greenColor" [position]="110"></app-cell>
                <app-cell [color]="greenColor" [position]="0"></app-cell>
                <!-- <div id="4" class="box">
                </div>
                <div id="5" class="box green">
                </div>
                <div id="6" class="box green">
                </div> -->
            </div>
            <div class="row">
                <app-cell [position]="47"></app-cell>
                <app-cell [color]="greenColor" [position]="111"></app-cell>
                <app-cell [position]="1"></app-cell>
                <!-- <div id="7" class="box"></div>
                <div id="8" class="box green"></div>
                <div id="9" class="box"></div> -->
            </div>
            <div class="row">
                <app-cell [position]="46"></app-cell>
                <app-cell [color]="greenColor" [position]="112"></app-cell>
                <app-cell [position]="2"></app-cell>
            </div>
            <div class="row">
                <app-cell [position]="45"></app-cell>
                <app-cell [color]="greenColor" [position]="113"></app-cell>
                <app-cell [position]="3"></app-cell>
            </div>
            <div class="row">
                <app-cell [position]="44"></app-cell>
                <app-cell [color]="greenColor" [position]="114"></app-cell>
                <app-cell [position]="4"></app-cell>
            </div>
        </div>
        <div class="green-section black-border">
            <div class="white">
                <div class="green"></div>
                <div class="green"></div>
                <div class="green"></div>
                <div class="green"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="lane-section">
            <div class="row">
                <app-cell [position]="38"></app-cell>
                <app-cell [color]="redColor" [position]="39"></app-cell>
                <app-cell [position]="40"></app-cell>
                <app-cell [position]="41"></app-cell>
                <app-cell [position]="42"></app-cell>
                <app-cell [position]="43"></app-cell>
            </div>
            <div class="row">
                <app-cell [position]="37"></app-cell>
                <app-cell [color]="redColor" [position]="440"></app-cell>
                <app-cell [color]="redColor" [position]="441"></app-cell>
                <app-cell [color]="redColor" [position]="442"></app-cell>
                <app-cell [color]="redColor" [position]="443"></app-cell>
                <app-cell [color]="redColor" [position]="444"></app-cell>
            </div>
            <div class="row">
                <app-cell [position]="36"></app-cell>
                <app-cell [position]="35"></app-cell>
                <app-cell [position]="34"></app-cell>
                <app-cell [position]="33"></app-cell>
                <app-cell [position]="32"></app-cell>
                <app-cell [position]="31"></app-cell>
            </div>
        </div>
        <div class="winning-section"></div>
        <div class="lane-section">
            <div class="row">
                <app-cell [position]="5"></app-cell>
                <app-cell [position]="6"></app-cell>
                <app-cell [position]="7"></app-cell>
                <app-cell [position]="8"></app-cell>
                <app-cell [position]="9"></app-cell>
                <app-cell [position]="10"></app-cell>
            </div>
            <div class="row">
                <app-cell [color]="yellowColor" [position]="224"></app-cell>
                <app-cell [color]="yellowColor" [position]="223"></app-cell>
                <app-cell [color]="yellowColor" [position]="222"></app-cell>
                <app-cell [color]="yellowColor" [position]="221"></app-cell>
                <app-cell [color]="yellowColor" [position]="220"></app-cell>
                <app-cell [position]="11"></app-cell>
            </div>
            <div class="row">
                <app-cell [position]="17"></app-cell>
                <app-cell [position]="16"></app-cell>
                <app-cell [position]="15"></app-cell>
                <app-cell [position]="14"></app-cell>
                <app-cell [color]="yellowColor" [position]="13"></app-cell>
                <app-cell [position]="12"></app-cell>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="blue-section black-border">
            <div class="white">
                <div class="blue"></div>
                <div class="blue"></div>
                <div class="blue"></div>
                <div class="blue"></div>
            </div>
        </div>
        <div class="lane-section">
            <div class="row">
                <app-cell [position]="30"></app-cell>
                <app-cell [color]="blueColor" [position]="334"></app-cell>
                <app-cell [position]="18"></app-cell>
                <!-- <div id="55" class="box"></div>
            <div id="56" class="box blue"></div>
            <div id="57" class="box"></div> -->
            </div>
            <div class="row">
                <app-cell [position]="29"></app-cell>
                <app-cell [color]="blueColor" [position]="333"></app-cell>
                <app-cell [position]="19"></app-cell>
            </div>
            <div class="row">
                <app-cell [position]="28"></app-cell>
                <app-cell [color]="blueColor" [position]="332"></app-cell>
                <app-cell [position]="20"></app-cell>
            </div>
            <div class="row">
                <app-cell [position]="27"></app-cell>
                <app-cell [color]="blueColor" [position]="331"></app-cell>
                <app-cell [position]="21"></app-cell>
            </div>
            <div class="row">
                <app-cell [color]="blueColor" [position]="26"></app-cell>
                <app-cell [color]="blueColor" [position]="330"></app-cell>
                <app-cell [position]="22"></app-cell>
            </div>
            <div class="row">
                <app-cell [position]="25"></app-cell>
                <app-cell [position]="24"></app-cell>
                <app-cell [position]="23"></app-cell>
            </div>
        </div>
        <div class="yellow-section black-border">
            <div class="white">
                <div class="yellow"></div>
                <div class="yellow"></div>
                <div class="yellow"></div>
                <div class="yellow"></div>
            </div>
        </div>
    </div>
</div>